@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply max-w-4xl mx-auto px-5 w-full mt-16;
  }
}

[data-theme="cupcake"] {
  .list-a {
    background-color: #ffffff;
  }
  .list-a:hover {
    background-color: #fdfdfd;
  }

  .amount {
    background-color: #252945;
  }
}
[data-theme="night"] {
  .list-a {
    background-color: #1e2139;
  }
  .list-a:hover {
    background-color: #1e2139;
  }
  .amount {
    background-color: #0c0e16;
  }

  .title {
    background-color: #252945;
  }
  .buttons{
    background-color: #252945;
  }
}
