@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply max-w-4xl mx-auto px-5 w-full mt-16;
  }
}

[data-theme="autum"] {
  .list-a {
    background-color: #ffffff;
  }
  .list-a:hover {
    background-color: #ffffff;
  }
}
[data-theme="night"] {
  .list-a {
    background-color: #1e2139;
  }
  .list-a:hover {
    background-color: #1e2139;
  }
}
