@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements {
    @apply max-w-4xl mx-auto px-5 w-full mt-16;
  }
}

.select-field {
  @apply w-full p-3 rounded-sm  font-bold border border-[#52566c] bg-inherit cursor-pointer;
}

.label {
  @apply block font-normal text-light2 text-sm mb-1;
}

[data-theme="cupcake"] {
  .list-a {
    background-color: #ffffff;
  }
  .list-a:hover {
    background-color: #fdfdfd;
  }

  .amount {
    background-color: #ffffff;
  }

  
}
[data-theme="night"] {
  .list-a {
    background-color: #1e2139;
  }
  /* .list-a:hover {
    background-color: #1e2139;
  } */

  .amount {
    background-color: #141625;
  }

  .title {
    background-color: #252945;
  }
  .buttons {
    background-color: #252945;
  }
  .buttonsdate {
    background-color: #1e2139;
  }
 
}
